<div class="px-5">
  <h1>Liste des utilisateurs</h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Nom</th>
          <th scope="col">N° Téléphone</th>
          <th scope="col">Username</th>
          <th scope="col">Site</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let index = index;">
          <td> {{ index + 1 }}</td>
          <td> {{ user.email }}</td>
          <td> {{ user.name }}</td>
          <td> {{ user.phone }}</td>
          <td> {{ user.username }}</td>
          <td> {{ user.website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>